/* .navbar{
    background-color: grey;
    color: white;
}
.nav-link{
    color: white;
} */
.nav1{
    font-size: large;
}
.nav{
    background-color: black;
}
.link1{
    margin-left: 650px;
    /* margin-right: 5px; */
    color: white;
}
